<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/boryscherkas/">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/borys-cherkas/AE-TT-FE-Part">
                       GitHub
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
